#info{
  background: none;
  filter:
     progid:DXImageTransform.Microsoft.gradient(
     startColorStr=#BBFFFFFF, endColorStr=#BBFFFFFF
  ); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(
    startColorStr='#BBFFFFFF', EndColorStr='#BBFFFFFF'
  )";
}

#badge{
  filter:  
    progid:DXImageTransform.Microsoft.Matrix(
     sizingMethod='auto expand', 
       M11=0.9914448613738104,
       M12=0.13052619222005157,
       M21=-0.13052619222005157, 
       M22=0.9914448613738104
     ),
     progid:DXImageTransform.Microsoft.gradient(
        startColorStr=#FFFFFF, endColorStr=#EFEFEF
     ),
     progid:DXImageTransform.Microsoft.Shadow(
       color=#333333, Direction=135, Strength=3
     );
     
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(
    sizingMethod='auto expand', 
      M11=0.9914448613738104,
      M12=0.13052619222005157,
      M21=-0.13052619222005157, 
      M22=0.9914448613738104
    ),
    progid:DXImageTransform.Microsoft.gradient(
       startColorStr=#FFFFFF, endColorStr=#EFEFEF
    ),
    progid:DXImageTransform.Microsoft.Shadow(
      color=#333333, Direction=135, Strength=3
    )";
}





