/*START:type_style */

body{
  width: 960px;
  margin: 15px auto;
}

p{
  margin: 0 0 20px 0;
}

p, li{
  line-height: 20px;
  font-family: Arial, "MS Trebuchet", sans-serif;
}
/*END:type_style */

/*START:header_style */
#header{
  width: 100%;
}
/*END:header_style */

/*START:nav_style */
#header nav{
  display: block;
}
#header nav ul, #footer nav ul{
  list-style: none;
  margin: 0; 
  padding: 0;
}
#header nav ul li, #footer nav ul li{
  padding:0;  
  margin: 0 20px 0 0;
  display:inline;
}
/*END:nav_style */

/*START:posts_style */
section#posts{
  float: left;
  width: 74%;
}

section#posts aside{
  float: right;
  width: 35%;
  margin-left: 5%;
  font-size: 20px;
  line-height: 40px;
}
/*END:posts_style */

/*START:sidebar_style */
section#sidebar{
  float: left;
  width: 25%;
}
/*END:sidebar_style */

/*START:footer_style */
footer#footer{
  clear: both;
  width: 100%; 
  display: block; 
  text-align: center;
}
/*END:footer_style */