#sidebar, #main{
  display: block;
  float: left;
}

#sidebar{
  width: 25%;
}

#main{
  width: 75%;
}


form ol{
  list-style: none; 
  margin: 0; 
  padding: 0;
}

form li{
  padding: 0; 
  margin: 0;
}

form li label{
  display:block;
}

#title, #note{
  width: 100%; 
  font-size: 20px; 
  border: 1px solid #000;
}

#title{
  height: 20px;
}

#note{
  height: 40px;
}